.blog-info{
  margin: 30px;
  position: relative;
  border: 1px solid #ddd;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: #fff;
  transition: all .2s ease-in;
  .article-header {
    border-left: 5px solid #4d4d4d;
    padding: 30px 0 15px 25px;
    padding-left: 7.6923%;
    >h1{
      margin-bottom: 10px;
      display: inline;
      a{
        color: #696969;
        margin-left: 0;
        font-weight: 300;
        line-height: 35px;
        margin-bottom: 20px;
        font-size: 26px;
        transition: color .3s;
      }
    }
    >a{
      color: #999;
      margin-right: 7.6923%;
      float: right;
      .fa-calendar {
        margin: 5px 5px 5px 0;
      }
      time{
        font-size 16px
        line-height: 1.75;
      }
    }
  }
  .article-entry {
    line-height: 1.8em;
    padding-right: 7.6923%;
    padding-left: 7.6923%;
    p {
      margin-top: 10px;
    }
    a {
      font-size: 16px;
      background: transparent;
      text-decoration: none;
      color: #08c;
    }
  }
  .article-info{
    padding-top: 20px;
    margin: 30px 7.6923% 0;
    min-height: 72px;
    border-top: 1px solid #ddd;
    .fa-tag {
      color: #999;
      float: left;
      margin-right: 10px;
      margin-top: 6px;
    }
    .article-tag-list{
      float: left
      li {
        float left
      }
    }
    .article-more-link{
      margin: 6px 0 1.75em;
      text-align: left;
      float: right;
      a{
        background: #4d4d4d;
        color: #fff;
        font-size: 12px;
        padding: 5px 8px;
        line-height: 16px;
        border-radius: 2px;
        transition: background .3s;
      }
    }
  }
}