.admin-blog{
  position: absolute;
  right: 0;
  left: 420px;
  width: auto;
  padding: 20px;
  .admin-blog-info{
    .admin-blog-group{
      margin-top 5px
      input{
        border-radius: 5px;
        outline: none;
        border: none;
        width: 250px;
        padding: 5px 5px;
        border: 1px solid #ccc;
      }
    }
  }
  .btn-wrapper {
    margin: 10px 0px
    float right
  }
}